<%= javascript_pack_tag 'pyramid' %>

<%= javascript_pack_tag 'product' %>

<p id="notice"><%= notice %></p>

<div class ="container show">
  <div class="row">
<div class="col col-md-8 col-12">
  <img id="product-image" src="<%=@product.product_img%>" alt="<%=@product.title%>"/>
</div>
<div class="col col-md-4 col-12 mt-md-5 pt-4">
  <h3 class="font-weight-bold my-md-4" id="product-title"><%=@product.title%></h3>

  <h4 class="font-weight-bolder my-3" style="font-weight:800" id="product-price">$<%=@product.price%></h4>
  <p id="product-description" class="py-3">
    <%= @product.description %>
  </p>
  <label for="size">Select a size:
    <select id="size" name="size">
    <% @sizes.each do |size|  %>
    <option value="<%= size.size %>"><%= size.size %></option>
    <% end %>
  </select>
</label>
<br>
    <a href="/cart" class="add-item mt-4 btn-block btn btn-lg btn-primary">Buy Now</a>
    <a  href=""  class=" add-item btn btn-lg btn-block btn-secondary">Add to Cart</a>

</div>
  </div>

  </div>
