<p id="notice"><%= notice %></p>

<div class ="container">
  <div class="row">
<div class="col col-md-8 col-12">
  <img src="https://assets.bigcartel.com/product_images/244444370/NAS-TEEEE.png?auto=format&fit=max&w=1200" />
</div>
<div class="col col-md-4 col-12">
  <h3 class="font-weight-bold">
    <%= @product.title %>
  </h3>

  <p>
    <%= @product.description %>
  </p>

  <h3 class="font-weight-bold">
    $<%= @product.price %>
  </h3>
  <select id="size" name="size">
    <% @sizes.each do |size|  %>
    <option value="<%= size.size %>"><%= size.size %></option>
    <% end %>
  </select><br>
  <button  class="btn btn-lg btn-primary">Buy Now</button><br>
  <button  class="btn btn-lg btn-secondary">Add to Cart</button>

</div>
  </div>

  </div>
